<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/plans"><i class="bi bi-heart-pulse"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/plans">Explore Plans</a>
                <% if(currentUser) { %>
                    <a class="nav-link" href="/feed">My Feed</a>
                    <% } %>
            </div>
            <div class="navbar-nav ms-auto">
                <form class="d-flex" role="search" action="/plans" method="get">
                    <input class="form-control me-2 search-input" name="q" type="search"
                        placeholder="Search fitness plans" aria-label="Search">
                    <button class="btn search-btn" type="submit"><i
                            class="fa-solid fa-magnifying-glass"></i>Search</button>
                </form>
            </div>


            <div class="navbar-nav ms-auto">
                <% if(currentUser && currentUser.role==='trainer' ){ %>
                    <a class="nav-link" href="/plans/new">Create Plan</a>
                    <% } %>
                        <% if(!currentUser){ %>
                            <a class="nav-link" href="/signup"><b>Sign up</b></a>
                            <a class="nav-link" href="/login"><b>Log in</b></a>
                            <% } %>
                                <% if(currentUser) {%>
                                    <a class="nav-link" href="/logout">Log out</a>
                                    <% } %>
            </div>
        </div>
    </div>
</nav>