body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.bi-heart-pulse {
    color: #fe424d;
    font-size: 2rem;
}

.navbar-nav {
    align-items: center;
}

.nav-link {
    color: #222222 !important;
}


.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    margin-top: 5.5rem;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.btn-success,
.btn-primary,
.add-btn,
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
    border-radius: 1.5rem !important;
    color: white !important;
}

.delete-btn {
    border: none !important;
    border-radius: 1.5rem !important;
    width: 6rem !important;

}

.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.form-check-input:checked {
    background-color: #fe424d;
    border-color: #fe424d;
}


.search-btn {
    border-radius: 1.5rem !important;
}

.search-btn:hover {
    background-color: #fe424d !important;
    color: white !important;
}

.search-btn i {
    display: inline;
    margin-right: 0.8rem;
}

.search-input {
    border-radius: 1.5rem !important;
    padding: 0.5rem 3rem 0.5rem 3rem !important;
    max-width: 250px;
}


#filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    margin-right: 2rem;
    opacity: 0.6;
}

.filter i {
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 0.35rem;
    display: block;


}

.filter p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.2;
}

.filter a {
    text-decoration: none;
    color: inherit;
}

.filter a:hover {
    opacity: 1;
    cursor: pointer;
}


.plan-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
}

.plans-link,
.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.create-filter {
    opacity: 0.9;
    display: flex;
    align-items: center;
}

.create-plan-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #fe424d;
    color: white !important;
    padding: 0.5rem 1rem !important;
    border-radius: 0.6rem !important;
    text-decoration: none;
    font-weight: 500 !important;
    font-size: 0.9rem !important;
}

.category-badge,
.difficulty-badge {
    background-color: #fe424d !important;
    color: white !important;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.35rem 1rem !important;
    border-radius: 0.5rem !important;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.trainer-card {
    width: 100%;
    max-width: 320px;
    height: 380px;
    margin: auto;
    border-radius: 1rem;
    border: none !important;
}

.trainer-name-card {
    padding: 2rem;
    border-radius: 2.5rem;
    ;
}

.trainer-link {
    color: #fe424d;
}